{% extends 'pokemon/base.html'%}
{% load static %}
{% block content %}
<div class= "container vh-100">
    <div class="row justify-content-center h-100 mt-3 mx-2">
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>{{effect.ptype.title}}</th>
                    <th>Types</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Type based attack will have no effect against</td>
                    {% if effect.no_effect %}
                    <td>{{effect.no_effect.title}}</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Type based attack super effective against</td>
                    {% if effect.super_effective_attack %}
                    <td>{{effect.super_effective_attack.title}}</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Type based attack super ineffective against</td>
                    {% if effect.ineffective_attack %}
                    <td>{{effect.ineffective_attack.title}}</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Type is weak against</td>
                    {% if effect.weak_against %}
                    <td>{{effect.weak_against.title}}</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Type is strong against</td>
                    {% if effect.strong_against %}
                    <td>{{effect.strong_against.title}}</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Type will be unaffected by</td>
                    {% if effect.no_damage %}
                    <td>{{effect.no_damage.title}}</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
            <br><br>
            <div class="btn-group btn-group-lg" role="group">
                <a href="{% url 'pokemon:get_pokemon' %}" class="text-decoration-none">
                    <button type="button" class="btn-danger btn-lg ml-2 mb-3">Return to Pokedex</button>
                </a>
                <a href="{{ request.META.HTTP_REFERER }}">
                    <button type="button" class="btn-danger btn-lg ml-2 mb-3">Return to Pokemon</button>
                </a>
            </div>
        </div>

</div>

{% endblock %}