* {
  box-sizing: border-box;
}
.App {
  height: 100vh;
  margin:0;
}
.container {
  width: 50%;
  background-color: black;
  margin: auto;
  margin-top: 20px;
  padding: 15px;
  box-shadow: 10px 10px 10px gray;
}
@media screen and (max-width:550px) {
  .container {
    width:75%;
}
}
/* Info section css */
.info-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 0;
  margin: auto;
  margin-bottom: 0;
  margin-top: 0;
  width: 90%;
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(33, 33, 34);
}
.pic {
  width:320px;
  max-inline-size: 100%;
  block-size: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.name {
  margin:0;
  padding: 5px 5px;
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
color: #FFFFFF;
}
.stack {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
color: #41cee7;
}

.website, a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #F5F5F5;
  text-decoration: none;
}
.button-group{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px; 
}
.email-but, .email-but:hover {
width: 100px;
height: 34px;
background: #FFFFFF;
border: 1px solid #D1D5DB;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
font-family: 'Inter';
font-size: 14px;
cursor: pointer;
}

.linked-but {
  width: 100px;
height: 34px;
background: #5093E2;
border: 1px solid #5093E2;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
font-family: 'Inter';
font-size: 14px;
color: white;
cursor: pointer;
}
button .but-text {
  padding-left: 5px;
}

/*interst and about section*/

.about-row, .interest-row {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 90%;
  background-color: rgb(33, 33, 34);
}
.about, .interest {
  font-family: 'Inter';
  font-size: 16px;
  margin: 0;
  color: #F5F5F5;
}
.about-txt, .interest-txt {
  font-family: 'Inter';
font-size: 10px;
line-height: 150%;
text-align: center;
color: #DCDCDC;
width: 50%;
padding-top: 5px;
}

/*footer*/
.icon-cont{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(33, 33, 34);
  padding-top: 15px;
  padding-bottom: 15px;
  width: 90%;
  margin: auto;
  border-radius: 0 0 10px 10px;
}
.facebook {
  padding-right: 20px;
}
.github {
  padding-left:20px;
}