* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  min-width: 100vw;
}
ul {
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
}
li:hover {
  background-color: dimgray;
}
.logo {
  height: 70%;
  margin: 5px;
}
.navbar {
  background-color: midnightblue;
  height: 80px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 10px black;
}
/* Mobile part of navbar*/
.navButton {
  font-size: 1.5em;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 1em;
}
.mobilePageLinks {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 80px;
  right: 0;
  width: 100%;
  background-color: midnightblue;
  opacity: 0.95;
  border-top: solid black 1px;
  z-index: 1;
}
.mobilePageLinks a {
  font-size: 1.5em;
  color: silver;
}
.mobilePageLinks li {
  padding: 1.5em 0.5em;
}
.show {
  display: block;
}
/*desktop navbar*/
.desktopPageLinks {
  display: flex;
  flex-direction: row;
  max-height: 100%;
}
.desktopPageLinks li {
  padding: 1em;
  font-size: 1.8em;
}
.desktopPageLinks a {
  color: silver;
  text-align: center;
}

/*main page*/
.mainPageContainer {
  background-color: silver;
  padding: 1.5em;
  gap: 20px;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}
section {
  color: midnightblue;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.25em;
}
#mainPage {
  border-top: 0.1em solid black;
  border-bottom: 0.1em solid black;
  padding: 0.25em 0;
}

@media screen and (max-width: 720px) {
  .desktopPageLinks {
    display: none;
  }
  .mainPageContainer {
    padding: 1em;
  }
}
@media screen and (min-width: 721px) {
  .navButton {
    display: none;
  }
  .show {
    display: none;
  }
}
/*footer*/
footer {
  color: silver;
  background-color: midnightblue;
  box-shadow: 0 -2.5px 10px black;
  padding: 0.5em;
  text-align: center;
}
footer a {
  color: dimgray;
  font-size: 0.9em;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 0.75em;
}
footer li {
  align-content: left;
  padding: 0.5em;
}
footer li:hover {
  background-color: midnightblue;
}
